/*style.css*/

/*FIND BETTER FONTS*/
@import url(http://fonts.googleapis.com/css?family=Inika);
@import url(http://fonts.googleapis.com/css?family=Oxygen);


body{
  background-color: rgb(43, 44, 45);
  font-family: 'Oxygen', sans-serif;
}

h1{
  font-size: 30px;
  font-family: 'Inika', serif;
  text-align: left;
  margin-bottom:10px;
}

h2{
  font-size: 25px;
  font-family: 'Inika', serif;
  text-align: left;
  margin-bottom:10px;
}
h3{
  font-size: 15px;
  font-family: 'Inika', serif;
  text-align: left;
}

h4{
  font-size: 15px;
  font-family: 'Inika', serif;
  text-align: left;
  font-weight: bold;
}

h5{
  font-size: 12px;
  font-family: 'Inika', serif;
  text-align: left;
}

h6{
  font-size: 9px;
  font-family: 'Inika', serif;
  text-align: left;
  font-weight: bold;
}

#container{
  margin: 0 auto;
  width: 960px;
  height: auto;
  padding: 10px;
  background-color: #ccc;
}

header{
  height: 94px;
  margin-bottom:10px;
  width:940px;
  padding: 10px 10px 0 10px;
  border-radius: 5px;
}

img {
  display: inline-block;
}

table {
  display: inline-block;
}

#logo{
  height:74px;
  width:260px;
  background-color: rgb(76, 155, 232);
  padding: 5px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
}

.productvideo {
  margin: auto;
}

#logo > h1{
  font-size: 34px;
  color:#fff;
}

nav{
  height:20px;
  width:560px;
  background-color: rgb(171, 170, 169);
  padding:17px 15px 15px 15px;
  float: left;
  margin-top:15px;
}

nav > ul li{
  display: inline;
}

nav > ul li a{
   background-color: rgb(76, 155, 232);
   font-size:16px;
   font-family: 'Oxygen';
   color: #fff;
   padding: 5px 30px 5px 30px;
   border-radius: 5px;
   text-decoration: none;
}

nav > ul li a:hover{
    background-color: rgb(43, 44, 45);
}

#button{
  height:35px;
  width:35px;
  background-color: rgb(76, 155, 232);
  border-radius: 5px;
  padding:13px 10px 10px 10px;
  margin-left:10px;
  margin-top:12px;
  float:left;
}

#button > a{
   font-size:14px;
   font-family: arial;
   color: #fff;
   text-align: center;
}

section#banner{
  height: 375px;
  margin-top:10px;
  margin-bottom:10px;
}

section#banner > img{
  border-radius: 5px
}

#main_content{
  background-color: #fff;
  height: auto;
  margin-top:10px;
  margin-bottom:10px;
  padding: 10px;
  border-radius: 5px;
}

.titlebarindex{
  background-color:rgb(171, 170, 169);
  padding:8px;
}
#boxindex1 > .titlebarindex{
  width: 275px;
}

#boxes{
  height: auto;
  width: auto;
}

dl {

}

dt {
  font-size: 20px;
  font-family: 'Inika', serif;
  text-align: left;
  font-weight: bold;
  padding: 10px;
}

dd {

}

/*style box for home page Featured Product*/
#boxindex1{
  border: 1px solid #fff;
  float: left;
  width: 295px;
  height:220px;
  border-radius: 5px;
  padding: 15px;
  padding-left:20px;
  background-color: #ccc;
  border-radius: 5px;
  text-align:center;
}

.boxindex2{
  float: left;
  width: 260px;
  height:220px;
  background-color: #ccc;
  margin-left:10px;
  padding:15px;
  border-radius: 5px;
}

.boxindex3{
  float: left;
  width: 260px;
  height:220px;
  background-color: #ccc;
  padding:15px;
  border-radius: 5px;
  margin-left:10px;
  font-size: 17px;
  font-family: 'Inika', serif;
}

blockquote{
margin-top: 24px;
margin-left: 8px;
}

.bqstart {
     float: left;
     height: 45px;
     margin-top: -60px;
     padding-top: 45px;
     margin-bottom: -10px;
     font-size: 700%;
     color: #FF0000;
 }

 .bqend {
     float: right;
     height: 25px;
     margin-top: -12px;
      margin-right: 120px;
     font-size: 700%;
     color: #FF0000;
 }

.clearfix{
  clear:both;
}
section
footer{
  height: 30px;
}

small{
  font-size: 10px;
  color:#fff;
}

h1 h2 h3 h4 h5 h6{
  margin-bottom: 10px;
}

table td
{
  padding: 5px;
  font-family: 'Oxygen';
}

/* For Product Detail Page Sub Navigation */
.productnav{
  height:5px;
  width:560px;
  padding:17px 15px 15px 15px;
  float: center;
  margin:auto;
  background-color: transparent;
}

.navli {
  text-align: center;
}

.navli a{
  text-decoration: none;
  color: rgb(43, 44, 45);
}

.navli a:hover {
  text-decoration: none;
  color: rgb(76,155, 232);
}
/*End Prdocut Detail Sub Nav*/

.productdetail {
  border-right: 1px solid rgba(43, 44, 45, 0.2);
}

.productcell h2{
  text-decoration: underline;
}

.removepadding {
  padding: 0px;
}
